[submodule "public"]
	path = public
	url = https://github.com/ydjemmada/ydjemmada.github.io.git
	branch = master
[submodule "themes/texify3"]
	path = themes/texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/hugo-mod-json-resume"]
	path = themes/hugo-mod-json-resume
	url = https://github.com/schnerring/hugo-mod-json-resume
